table {
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

tr {
    background-color: rgba(0,0,0,0.5);
}

tr:nth-child(even) {
    background-color: rgba(128,128,128,0.5);
}

body {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: contain;
}

.text-nowrap {
    white-space: nowrap;
}

.navbar-nav {
    margin: 15px 10px 1px 1px;
}

.nav > li > a {
    padding: 5px 5px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.sign_ups > a {
    color: white;
    padding: 5px 5px;   
    text-decoration: none;         
}

.button {
    border: none;
    color: white;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 8px;
    float: right;
    width: 130px;
}

.button:hover {
    color:white;
    text-decoration: none;
    opacity: 0.8;
}

.site_background {
    background-color: #331a5a;
}

.sign_ups_background {
    background-color: #5a3422;
}

.dragon_sign_ups {
    background-color: #268B4C;
}

.elder_sign_ups {
    background-color: #A0410F;
}

.baron_sign_ups {
    background-color: #9370DB;        
}

.news-container{
    background-color: rgba(128,128,128,0.5);
}

.sign-up-container {
    background-color: rgba(0, 0, 0, 0.5);
}

.img_container img {
    width: 30px;
    height: 30px;
    float: left;
}

.contact_img img {
    width: 125px;
    height: 125px;
}

.center {
    width: 200px;
    margin: 0px auto;
}

.tab {
    margin-left: 40px
}

.no-padding {
    padding: 0;
}
iframe{
    border:none;
}
.player-section{
    position:relative;
    }
.chat-wrapper{
    position:absolute;
    left:50%;top:0;right:0;bottom:0;
}
.chat-wrapper iframe{
    width:100%;
    height:100%;
}
@media screen and (max-width:767px){
    .chat-wrapper{position:relative;height:300px;left:0;}
}

.intrinsic-container {
    position: relative;
    height: 0;
    overflow: hidden;
    margin-left: 5px;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
    padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
    padding-bottom: 75%;
}
 
.intrinsic-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}