.btn {
    text-align: center;
    opacity: 0.8;
    color: white;
    background-color: black;
    padding: 10px;
}

.btn:hover {
    opacity: 0.5;
    color: white;
}

.btn:active, a.focus {
    opacity: 0.3;
    color: white;
}

table {
    width: 100%;
}

th, td {
    text-align: center;
    vertical-align: central;
    padding: 15px;
}

h2 {
    text-align: center;
}
