{% extends "AscensionESports_Baseline/layout.html" %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'AscensionESports_Baseline/css/contact_us.css' %}" />
</head>


<big>
<h2>{{ title }}</h2>

<h4>Prosperity Through Education, Elevation Through Competition, Success Through Community </h4>
<br />
<p>Ascension Esports is a League of Legends oriented gaming organization with an emphasis on education, competition, and community. Founded by HouseParty5v5 League of Legends staff in 2016, Ascension delivers a rich experience and opportunity to connect and play with new friends. </h1>

<p>Ascension operates three leagues each with a different rank bracket--bronze/silver, gold/platinum, and diamond plus--to promote competitive integrity. Your performance is important to us as they are important to you. We compile stats for all three leagues and display them for your convenience. </p>

<p><blockquote> "We wanted to create an environment where education and competition can coincide to provide everyone with an opportunity for success." - Wynden, Ascension Esports Founder</blockquote></p>


<h2>Our Staff</h2>

<div class="filter_button">
    
</div>

<div class="staff_container">
    <div class="row background spacer">
        <h2>Admins</h2><br />
            <p class="col-md-3 col-xs-6">Æ | Spaceyness <br /> <small>Head Event Coordinator <br /> Stats Man</small></p>
            <p class="col-md-3 col-xs-6">Æ | ProNibs <br /> <small>Head of Elder League <br /> Head of Dragon League</small></p>
            <p class="col-md-3 col-xs-6">OE | Robin <br /> <small>Head of Baron League <br /> OE Representative</small></p>
            <p class="col-md-3 col-xs-6">Æ | XT <br /> <small>Head of Production</small> <br /></p>
    </div>

    <div class="row">
        <div class="col-lg-4 background spacer">
            <h2>Elder League Mods</h2><br />
            <div class="row">
                <div class="col-xs-6"><p> Blblaze/Teemo </p></div>
                <div class="col-xs-6"><p> BladéCallér </p></div>
            </div>
        </div>
        <div class="col-lg-4 background spacer">
            <h2>Dragon League Mods</h2><br />
            <div class="row">
                <div class="col-xs-6"><p> Brïnk </p></div>
                <div class="col-xs-6"><p> Omega Squad Fizz </p></div>
            </div>
        </div>
        <div class="col-lg-4 background spacer">
            <h2>Baron League Mods</h2><br />
            <div class="row">
                <div class="col-xs-6"><p> Chris.#2095 </p></div>
                <div class="col-xs-6"><p> RedFlameEvolved </p></div>
            </div>
        </div>
    </div>

    <div class="row background spacer" style="border-bottom:0px;"><h3>Production Crew</h3></div>
    <div class="row background spacer">  <br />
        <p class="col-md-3 col-xs-6">Sir Potato IX <br /> <small>Play-By-Play</small></p>
        <p class="col-md-3 col-xs-6">Omega Squad Fizz <br /> <small>Color/Analyst</small></p>
        <p class="col-md-3 col-xs-6">backpack <br /> <small>Play-By-Play </small></p>
        <p class="col-md-3 col-xs-6">Raafaa <br /> <small>Play-By-Play </small></p>
        <p class="col-md-3 col-xs-6">Jammernaut <br /> <small>Color/Analyst</small></p>
        <p class="col-md-3 col-xs-6">Shadowspirit567 <br /> <small>Color</small></p>
        <p class="col-md-3 col-xs-6">Hyper10sion <br /> <small>PBP/Analyst</small></p>
        <p class="col-md-3 col-xs-6">Æ | YodaGG <br /> <small>Color</small></p>
    </div>

    <div class="row background spacer">
        <h2>Event Coordinators</h2>
    </div>
    <div class="row background spacer"> <br />
        <p class="col-md-5ths col-xs-6">k0rin the catt </p>
        <p class="col-md-5ths col-xs-6">Omega Squad Fizz </p>
        <p class="col-md-5ths col-xs-6">Æ | YodaGG </p>
        <p class="col-md-5ths col-xs-6">tetran </p>
        <p class="col-md-5ths col-xs-6">RedFlameEvolved </p>
        <p class="col-xs-6">Shimmer <br /> <small>Inhouse Host</small></p>
        <p class="col-xs-6">Hea1sIut <br /> <small>Humble Bundle Sponsor Advertiser</small></p>
    </div>

    <div class="row background spacer">
        <h2> Support Staff </h2>
    </div>

    <div class="row">
        <div class="col-md-4 background spacer spacer_bottom_only">
            <h3> Graphic Artist</h3> <br />
            <p> EllyUzuki </p>
        </div>

        <div class="col-md-4 background spacer spacer_bottom_only">
            <h3> Writer</h3> <br />
            <p> Ishe </p>
        </div>

        <div class="col-md-4 background spacer spacer_bottom_only">
            <h3> Smurf Detector</h3> <br />
            <p> I MISS DEATHOLY </p>
        </div>


    </div>
</div>
</big>
{% endblock %}
