{% extends "AscensionESports_Baseline/layout.html" %}

{% block content %}
<big>
<h2>{{ title }}</h2>

<h4>Prosperity Through Education, Elevation Through Competition, Success Through Community </h4>
<br />
<p>Ascension ESports is a League of Legends oriented gaming organization with an emphasis on education, competition, and community. Founded by HouseParty5v5 League of Legends staff in 2016, Ascension of delivers a rich experience and opportunity to connect and play with new friends. </h1>

<p>Ascension operates three leagues each with a different rank bracket--bronze/silver, gold/platinum, and diamond plus--to promote competitive integrity. Your performance is important to us as they are important to you. We compile stats for all three leagues and display them for your convenience. </p>

<p><blockquote> "We wanted to create an environment where education and competition can coincide to provide everyone with an opportunity for success." - Wynden, Ascension Esports Founder</blockquote></p>


<h2>Our Staff</h2>

  
<b>Admins:</b>
<ul>
    <li>Æ | Spaceyness, Head event coordinator and stats</li>
    <li>Æ | ProNibs , Head of elder league and dragon league</li>
    <li>OE | Robin , Head of baron league and OE representative</li>
    <li>Æ | XT , Head of Production</li>
</ul>
<b>Event Coordinators:</b>
<ul>
    <li>RedFlameEvolved </li>
    <li>Shimmer , inhouse host</li>
    <li>Hea1sIut , humble bundle sponsor advertiser</li>
    <li>k0rin the catt </li>
    <li>Omega Squad Fizz </li>
    <li>Æ | YodaGG </li>
    <li>tetran </li>
</ul>
<b>Elder League:</b>
<ul>
    <li>Blblaze/Teemo </li>
    <li>BladéCallér , moved from dragon league to elder league</li>
</ul>
<b>Dragon League:</b>
<ul>
    <li>Brïnk </li>
    <li>Omega Squad Fizz </li>
</ul>
<b>Baron League:</b>
<ul>
    <li>Chris.#2095 </li>
    <li>RedFlameEvolved </li>
</ul>
<b>Graphic Artist:</b>
<ul>
    <li>EllyUzuki </li>
</ul>
<b>Writer: </b>
<ul>
    <li>Ishe </li>
</ul>
<b>Smurf Detection:</b>
<ul>
    <li>I MISS DEATHOLY </li>
</ul>
<b>Production:</b>
<ul>
    <li>Sir Potato IX , PBP</li>
    <li>Omega Squad Fizz , Color/Analyst</li>
    <li>backpack , PBP </li>
    <li>Raafaa, PBP </li>
    <li>Jammernaut, Color/Analyst</li>
    <li>Shadowspirit567, Color</li>
    <li>Hyper10sion the Caster, PBP/Analyst</li>
    <li>Æ | YodaGG, Color</li>
</ul>
</big>
{% endblock %}
