{% extends "AscensionESports_Baseline/layout.html" %}

{% block content %}
<h2>{{ title }}</h2>
<div class=" row sign-up-container">
    <div class="col-md-4">
        <h3>About the Leagues</h3>
        <p> Ascension Esports offers Leagues for all ranks. <br />
            All leagues run for 5 weeks, playing 2 Bo1 games each week in a single night. <br />
            All leagues start at 6 pm CST and each have their own day! <br />
            <br />
            Please sign up for the League corresponding to your <b>Solo-Queue</b> rank for this past season and Pre-Season. <br />
            Only Elder League allow sign ups as a 5-man premade. We are allowing duos to sign up this season!
        </p>
    </div>

    <div class="col-md-4">
        <h3>Important Dates</h3>
        <ul>
            <li>End of Signups: 6/25 </li>
            <li>Roster release: 6/27 </li>
            <li>1st Day of Dragon League: 7/09 </li>
            <li>1st Day of Elder League: 7/11 </li>
        </ul>
    </div>

    <div class="col-md-4">
        <h3>Select your League below</h3>
        <div class="tab">
            <div class="row"><p>Dragon League(Iron thru Gold):<a class="button dragon_sign_ups" href="{% url 'dragon_league_sign_ups' %}">Solo Sign Ups </a></p></div>
            <div class="row"><p>Elder League(Platinum/Lower Diamond):<a class="button elder_sign_ups" href="{% url 'elder_solo_league_sign_ups' %}">Solo Sign Ups</a></p></div>
            <div class="row"><p>Elder League(Platinum/Lower Diamond):<a class="button elder_sign_ups" href="{% url 'elder_team_league_sign_ups' %}">Team Sign Ups</a></p></div>
        </div>
    </div>

</div>


{% endblock %}
