{% extends "AscensionESports_Baseline/layout.html" %}

{% block content %}
<h2>{{ title }}</h2>
<div class=" row sign-up-container">
    <div class="col-md-4">
        <h3>About the Leagues</h3>
        <p> Ascension Esports offers Leagues for all ranks. <br />
            All leagues run for 9 weeks, playing 2 Bo1 games each night. <br />
            All leagues start at 6 pm CST and each have their own day! <br />
            <br />
            Please sign up for the League corresponding to your <b>Solo-Queue</b> rank for this current season. <br />
            Only Elder and Baron League allow sign ups as a 5-man premade. We do not allow duos to sign up this season.
        </p>
    </div>

    <div class="col-md-4">
        <h3>Important Dates</h3>
        <ul>
            <li>End of Signups: 7/11 </li>
            <li>Roster release: 7/12 </li>
            <li>1st Day of Dragon League: 7/17 </li>
            <li>1st Day of Elder League: 7/19 </li>
            <li>1st Day of Baron League: 7/20 </li>
        </ul>
    </div>

    <div class="col-md-4">
        <h3>Select your League below</h3>
        <div class="tab">
            <div class="row"><p>Dragon League (Bronze/Silver):<a class="button dragon_sign_ups" href="{% url 'dragon_league_sign_ups' %}">Solo Sign Ups </a></p></div>
            <div class="row"><p>Elder League (Gold/Platinum):<a class="button elder_sign_ups" href="{% url 'elder_solo_league_sign_ups' %}">Solo Sign Ups</a></p></div>
            <div class="row"><p>Elder League (Gold/Platinum):<a class="button elder_sign_ups" href="{% url 'elder_team_league_sign_ups' %}">Team Sign Ups</a></p></div>
            <div class="row"><p>Baron League (Diamond+): <a class="button baron_sign_ups" href="{% url 'baron_league_sign_ups' %}">Team Sign Ups</a></p></div>
        </div>
    </div>

</div>


{% endblock %}
