{% extends "AscensionESports_Baseline/layout.html" %}

{% block content %}
{% load staticfiles %}
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<a href="https://www.reddit.com/r/ascensionesports/"><img src="{% static 'AscensionESports_Baseline/content/reddit-icon.png' %}" /></a>
<a href="https://discord.gg/sKqQ5JN"><img src="{% static 'AscensionESports_Baseline/content/discord-small.png' %}" /></a>
<a href="https://www.twitch.tv/aesports_gg/"><img src="{% static 'AscensionESports_Baseline/content/twitch-icon.png' %}" /></a>
<a href="https://twitter.com/AeSports_GG"><img src="{% static 'AscensionESports_Baseline/content/twitter-icon.png' %}" /></a>
<a href="https://www.youtube.com/channel/UC1VbIEV5Xh4Nys72AjOY1mA"><img src="{% static 'AscensionESports_Baseline/content/youtube-icon.png' %}" /></a>
<a href=""mailto:ascensionesports@gmail.com"><img src="{% static 'AscensionESports_Baseline/content/email-icon.png' %}" /></a>

{% endblock %}
