{% extends "AscensionESports_Baseline/layout.html" %}

{% block content %}


<h1>Ascension Esports</h1>
<p class="lead">
    <blockquote>
        Ascension Esports is the best League of Legends community for players, new and old, to learn, have fun, and improve their gameplay. I coached and played several seasons and noticed big differences in my players"
        <br />
        -Daithex, Current Elder Coach and 2-time former Dragon League coach for two different semi-finalists teams
    </blockquote>
</p>

<div class="row">
    <div class="col-md-6">
        <h2>Sign Ups are now open!</h2>
        <p>
            Click below to sign up! <br />
            All leagues run for 9 weeks, playing 2 Bo1 games each night. <br />
            All leagues start at 6 pm CST and each have their own day!
            <ul>
                <li> Dragon - Tuesdays </li>
                <li> Elder - Thursdays </li>
                <li> Baron - Fridays </li>
            </ul>
        </p>
      
        <div class="row"><a class="button site_background tab" href="https://discord.gg/sKqQ5JN" target='_blank' rel='noopener noreferrer' style="float:none; border-radius: 0px; width:250px;">Click here to join us on Discord!</a></div><br />
        <div class="row"><a class="button sign_ups_background tab" href="{% url 'league_sign_ups' %}" style="float:none; border-radius: 8px;">Sign Up Now!</a></div>
        <br />
    </div>

    <div class="col-md-6">
        <div class="intrinsic-container intrinsic-container-16x9">
            <iframe class="embed-responsive-item" src="https://player.twitch.tv/?channel=aesports_gg" allowfullscreen></iframe>
        </div>
    </div>
</div>


{% endblock %}
