{% extends "AscensionESports_Baseline/layout.html" %}

{% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'AscensionESports_Baseline/css/schedule.css' %}" />
</head>

<h2>{{ title }}</h2>
<div class="btn-group btn-group-justified" role="group">

</div>


<div id="Schedule">
    <table style="width:100%">
    <tr class="header">
        <th>Time</th>
        <th>Blue Side</th>
        <th>Red Side</th>
        <th>Winner</th>
    </tr>
    
    {% for item in query_results %}
    <tr class="match_report">
        <td class="time">{{ item.match_time }}</td>
        <td class="blue_team">{{ item.blue_team }}</td>
        <td class="red_team">{{ item.red_team }}</td>
        {% if not item.winning_team_name %}
            <td class="winning_team"></td>
        {% else %}
            <td class="winning_team">{{ item.winning_team_name }}</td>
        {% endif %}
    </tr>

    {% empty %}
        </table>
        <p>No schedule is available</p>
    {% endfor %}
    </table>
</div>


{% endblock %}

{% block scripts %}
<script type="text/javascript"> 
    var match_times = [];
    {% for item in query_results %}
        match_times.push("{{ item.match_time }}");
    {% endfor %}
</script>

<script src="{% static 'AscensionESports_Baseline/scripts/Schedule.js' %}"></script>
{% endblock %}