{% extends "AscensionESports_Baseline/layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <h2>{{ title }}</h2>

            <p>Please put info about your desired team name and your players.</p>
            <p>If you looking to coach players in this league, please reach out to us and we'll assist in placing you on a team.</p>
            <p><b>Dragon League starts on July 9th.</b></p>
            <p><b>Elder League starts on July 11th.</b></p>
    
    
            <form action=" " method="post">
                {% csrf_token %}
                <ul>
                    {% for field in form %}
                    <div class="fieldWrapper">
                        <div style="background-color:white; opacity:0.8">
                            <strong style="color:red;">{{ field.errors }}</strong>
                        </div>
                        <li>{{ field.label_tag }} {{ field }}</li>
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </ul>
                
                <input type="submit" id="recaptcha-submit" value="Submit" />
            </form>
        </div>
        <div class="col-xs-5"></div>
    </div>
</div>
{% endblock %}
