{% extends "AscensionESports_Baseline/layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <h2>{{ title }}</h2>

            <p>Please put info about your desired team name and your players.</p>
    
            <form action=" " method="post">
                {% csrf_token %}
                {{ form.as_ul }}
                
                <input type="submit" id="recaptcha-submit" value="Submit" />
            </form>
        </div>
        <div class="col-xs-5"></div>
    </div>
</div>
{% endblock %}
